.emojionearea-editor{
  text-align: left;
  
}

.emojionearea .emojionearea-editor:empty:before{
   color: #A8A8A8 !important;
}

.fb-textarea{
  margin-top: 10px;
}

#rendered-form{
  text-align: right;
}

.post{
  padding: 10px;
  border: 1px solid gray;
}

.selectorFace:hover{
    color: #4286f4;
    border-color: #4286f4;
}

.selectorFace{
  padding: 4px;
  height: 34px !important;
  width: 40px !important; 
  border: 1px solid gray;
}

.selectorFace:before {
    content: "+ \f118";
    text-align: inline;
    font-family: FontAwesome;
    text-align: center;
}​

.emotion-btn-sm > .selectorFace{
  height: 20px !important;
  width: 20px !important; 
   font-size: 18px !important;
}



.button-like-a{
  font: bold 11px Arial;
  text-decoration: none;
  background-color: #EEEEEE;
  color: #333333;
  padding: 2px 6px 2px 6px;
  border-top: 1px solid #CCCCCC;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #CCCCCC;
}

.btn-a{

}

.btn-a:hover{
  padding: 2px;
  font-size: 18px;
  border: 1px solid gray;
  cursor:pointer;
}

.comments-box{
  font-size: 14px;
  max-height: 300px;
  overflow-y: auto;
}

.comment-text{
  display: inline-block;
  margin: 5px;
}

.col-center{
  float: none;
  margin: 0 auto;
} 

.margin-top{
  margin-top: 20px;
}

.post-text{
  margin-top: 15px;
}

.comment-input{
  margin-top: 10px;
}