.emojionearea-editor{
  text-align: left;
  
}

.emojionearea .emojionearea-editor:empty:before{
   color: #A8A8A8 !important;
}

.fb-textarea{
  margin-top: 10px;
}

#rendered-form{
  text-align: right;
}

.post{
  padding: 10px;
  border: 1px solid gray;
}