
.class{
    border: 1px solid gray;
    border-radius: 5px;
    padding: 15px;
}


.class-group{
    margin: 40px;
    padding: 15px;
    border:1px solid gray;
    background: white;
}

@media only screen and (max-width: 700px) {
    .class-group{
            margin: 10px;
            }
}

.class-container{
    max-height: 350px;
    overflow-y: auto;
}

.class-btn{
    color:white !important;
     font-weight: bold;
}

