a:visited { 
      text-decoration:none; 
  }

  i{
    color: white;
  }



.margin-top{
  margin-top: 7px;
}

.margin-title-update{
  margin-bottom: 5px;
}

.left-margin{
  margin-left: 5px;
}

.fix-height{
  max-height: 40px;
}

.modal{
    color:black;
}

.card-deck{
  padding-left: 70px;
  padding-right: 0px;
}

#card-deck{
  padding-right: 0px;
}

.filter-margin{
   margin-top: 5px;
}

.filter-container{
  margin-top: 10px;
}

.filters{
  float:left;
}

