body {
	font-family: Arial, Helvetica, sans-serif;
}
/* Move down content because we have a fixed navbar that is 50px tall */
.fixed-top {
  position: relative;
}

.main-content{
  margin: 10px;
  text-align: center;
}

.btn-space-left{
  margin-left: 10px;
}

footer {
  position: static;
  right: 0;
  bottom: 0;
  left: 0;
  min-width: 100%;
  padding: 1rem;
  background-color: #efefef;
  text-align: center;
}

.copyright{
  display:inline;
}

.poweredBy{
  float:right;
  display:inline;
}

.poweredBy-logo{
  float:right;
  display:inline;
}

.poweredBy-text{
  float:left;
  display:inline;
}