
/* Move down content because we have a fixed navbar that is 50px tall */
.fixed-top {
  position: relative;
}

.main-content {
  margin: 10px;
  text-align: center;
}

.btn-space-left {
  margin-left: 10px;
}

.card-deck {
  display: block;
  width: 100%;
  display: center;
  text-align: left;
  padding-left: 10px;
  padding-right: 10px;
}

.card {
  padding-top: 5px;
  margin: 10px;
  max-width: 100%;
  background-color: #C7C7C8;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #333;
  margin: 10px auto;
  color: black;
}

.card-deck .card:not(:last-child) {
  margin-right: auto;
}

.card-deck .card:not(:first-child) {
  margin-left: auto;
}

#cards-container {
  border-color: gray;
  border-style: dashed;
  border-width: 3px;
  height: 400px;
  overflow-y: auto;
  margin-right: 10px;
}
@media (max-width: 767px) {
  .cnt_main_practice .card-deck {
    padding-left: 0;
    padding-right: 0;
  }
}

#rankCard-modal .modal-body {
  text-align: center;
}

#rankCard-modal .modal-title {
  text-align: center;
  width: 100%;
}
