.border{
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #333;
  margin: 10px auto;
  color: black
}

p{
    clear: both;
}
.plan{
    background: gray;
    padding:5px;
}

.left-margin{
    margin-left: 8px;
}

.create-wrapper {
  margin-top: 15px;
  margin-bottom: 80px;
  background-color: #fff;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  box-shadow: 0 1px 2px rgba(0,0,0,0.15);
  padding: 30px 20px;
  border-radius: 4px;
}

.create-wrapper .form-horizontal {
  border-color: transparent;
  padding: 0;
}

.btn-gray {
  background-color: #292b2c!important;
}

.redText {
  color: #d9534f;
}

.form-horizontal {
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #333;
  padding: 10px;

}




.img-wrap:hover .close {
  opacity: 1;
}

.text-black {
  color: black;
}

.left-margin {
  margin-left: 6px;
}

.modal {
  color: black;
}

.easy-autocomplete-container {
  color: black;
  z-index: 900;
}
