<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link rel="icon" href="assets/img/favicon.ico">
  <title>FlashCardX</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/component/general.css">
  <link rel="stylesheet" href="assets/css/page/homeNL.css">
  <link rel="stylesheet" href="assets/css/page/class.css">
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/">FlashCardX</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">My collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/practice">Practice</a>
          </li>
         <li class="nav-item active">
            <a class="nav-link" href="/class">Classes</a>
          </li>
        </ul>
         <%- include('tiles/sideOptions'); %>
      </div>
    </div>
  </nav>
  <div class="main-content min-height">
    <div class="container">
     
        
        <div class="row">
        <div class="col classes">
            <h3>Your Classes:</h3>
            <div id="classes-content" class="container">
            </div>
        </div>
        </div>
     <div class="row search-results top-buffer">
            <div class="input-group col">
                            <input id="search-box" onkeydown="if (event.keyCode == 13) return false;" type="text" class=" form-control input-lg"
                                placeholder="Search class" />
                            <span class="input-group-btn">
                                        <button id ="search-button" class="btn btn-success" role="button" type="button" onClick="search()">
                                            <i class="fa fa-search fa-fw" aria-hidden="true"></i>
                                        </button>
                                    </span>
            </div>
     </div>
        <div class="row top-buffer">
            <div class="col">
                <div class="col-sm-offset-2 col-sm-10">
                <a type="button" role="button" class="btn btn-danger">Create new awesome class!</a>
                </div>
            </div>
        </div>
         
       
        <%- include('tiles/modalActivity'); %>
    </div> <!-- end container-->
  </div><!--end container-->
  <%- include('tiles/footer'); %>
    



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
   <script src="assets/js/general.js"></script>
    <script src="assets/js/formatDate.js"></script>
    <script src="assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="assets/js/capabilities/activity.js"></script>
    <script src="assets/js/class.js"></script>
</body>

</html>