
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">
    <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
    <title>FlashCardX</title>
   
  </head>

  <body>
    <script type='text/javascript'>
      var cards = <%-JSON.stringify(cards)%>;
      var imgUrl = "<%-imgUrl%>";
      </script>

  
   <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="/">FlashcardX</a>
        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Discover</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/">My collection</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/create">Create card</a>
      </li>
    </ul>

         <a class="btn btn-warning my-2 my-sm-0 " href="#"> <i class="fa fa-cog fa-fw" aria-hidden="true"></i></a>
          
         <a class="btn btn-danger my-2 my-sm-0 btn-space-left" href="/logout"> <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></a>
        
        </div>
    </nav>
  <div class= "main-content">
      <% errors.forEach(err=>{%>
            <div class="alert alert-danger">
                <strong>Error!</strong> <%= err%>
            </div> 
        <%});%>
   
          <div class="card-deck" id="card-deck">

                 
          </div>


  </div>
  <!-- end container-->




      <footer class="row">
        <div class="col-md-9 copyright">
          &copy; 2017 FlashCardX, Inc.
        </div>
        <div class="col-md-3 poweredBy">
          <span class ="poweredBy-text">
          Powered by:
          </span>
        <a href="https://pixabay.com/" style="margin:3px 15px 5px 0;font-size:12px;line-height:1.7;color:#555;display:block;float:left;padding:9px 12px 7px;border:1px solid #ccc">
                        <i style="display:block;width:68px;height:18px;overflow:hidden"><img class="pixabay-logo"src="assets/img/pixabay-logo.svg" style="width:94px"></i>
                        Free Images
                    </a>
        </div>
      </footer>
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
<link rel="stylesheet" href="assets/css/page/homeNL.css">
<link rel="stylesheet" href="assets/css/page/homeL.css">
<link rel="stylesheet" href="assets/css/component/card.css">
<link rel="stylesheet" href="assets/css/component/slideshow.css">
<script src="assets/js/formatDate.js"></script>
<script src="assets/js/discoverCards.js"></script>
  </body>
</html>
