<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="Learn anything with beautiful images - Create flashcards and share them with classmates">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <title>FlashCardX</title>
  <link rel="icon" href="assets/img/favicon.ico">
  <link rel="alternate" href="#" hreflang="en-us" />
  <!-- Bootstrap -->
  <link href="assets/css/lib/bootstrap.min.css" rel="stylesheet">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="assets/css/page/landingPage.css" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/component/fbButton.css">
  <script src='https://www.google.com/recaptcha/api.js' async defer></script>
  <!-- Hotjar Tracking Code for www.flashcard-x.com -->
<script>
    (function(h,o,t,j,a,r){
        h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
        h._hjSettings={hjid:571531,hjsv:5};
        a=o.getElementsByTagName('head')[0];
        r=o.createElement('script');r.async=1;
        r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
        a.appendChild(r);
    })(window,document,'//static.hotjar.com/c/hotjar-','.js?sv=');
</script>
</head>

<body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container ">
      <div class="navbar-header ">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
          aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
        <a class="navbar-brand" href="/">FlashCardX</a>
      </div>
      <!--/.navbar-collapse -->
    </div>
  </nav>
  <div class="jumbotron" id="fondoJumbo">
    <div class="container main">
      
              <div class="row">
                <div class="col-md-6">
                  <h1>List of features:</h1>
                </div>

              </div>
    </div>
  </div>

  <!-- Sector info en index -->
  <div class="container min-height">
    <div class="row">
        <div class="col">
            <ul style="list-style-type:disc">
                <li>images and gifs search for adding the best images to every card</li>
                <li>Practice the right card at the right time thanks to spaced repetition "supermemo" alghorithm</li>
                <li>Create classes for sharing cards, and connect with classmates</li>
                <li>Scientific markup support(via LaTeX): just embed your LaTeX code between'$$': $$your LaTeX code here$$</li>
                <li>Organize your cards by categories</li>
                <li>Word suggestions for creating new cards(available for Engish and Spanish)</li>
                <li>Autocomplete function(available for English): if you want the system can complete your card's description with definitions and examples </li>
                <li>Listen to the pronunciation of the cards tittle(available in more than 20 languages!)</li>
            </ul>  
        </div>
          <div>
              <p>There are a lot of new features coming soon. If you would like to have a feature that's not in the list please write us to: <a style="cursor:pointer" href:"mailto:contact@flashcard-x.com?Subject=My%20awesome%20idea" target="_top">contact@flashcard-x.com</a> and tell us your idea!</p>
          </div>
    </div>

  </div>


  </div>

  <%- include('tiles/footer'); %>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="assets/js/lib/bootstrap.min.js"></script>
    <script src="assets/js/landingPage.js"></script>
    <script src="assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="assets/js/general.js"></script>
</body>

</html>