<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link rel="icon" href="assets/img/favicon.ico">
  <title>FlashCardX</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/component/general.css">
  <link rel="stylesheet" href="assets/css/page/homeNL.css">
  <link rel="stylesheet" href="assets/css/page/evclass.css">
  <link rel="stylesheet" href="assets/css/page/homeL.css">
  <link rel="stylesheet" href="assets/css/component/slideshow.css">
  <link rel="stylesheet" href="assets/css/component/card.css">
      <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css" />
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/">FlashCardX</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="#">My collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/practice">Practice</a>
          </li>
        </ul>
        <a data-toggle='tooltip' data-placement='right' title='Settings' class="round btn btn-warning my-2 my-sm-0 " href="/settings"> <i class="fa fa-cog fa-fw" aria-hidden="true"></i></a>

        <a data-toggle='tooltip' data-placement='right' title='Sign out' class="round btn btn-danger my-2 my-sm-0 btn-space-left" href="/logout"> <i class="fa fa-sign-out fa-fw" aria-hidden="true"></i></a>
      </div>
    </div>
  </nav>
  <div class="main-content min-height">
    <div class="container">
      <% errors.forEach(err=>{%>
        <div class="alert alert-danger alert-dismissable">
           <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
          <strong>Error!</strong>
          <%= err%>
        </div>
        <%});%>

          <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
              <div class="row">
                <div class="col-md-4 filters">
                  <div class="filter-container">
                    <span>  Sort by:</span>
                    <select name="sort" class="form-control filter-margin" id="sort-select">
                          <option selected="selected" value="desc">Newer first</option>
                          <option value="asc">Older first</option>
                      </select>
                  </div>
                </div>
                <div class="col-md-4 filters">
                  <div class="filter-container">
                    <span>  Category:</span>
                    <select name="category" class="form-control filter-margin" id="category-select">
                      </select>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="filter-container">
                    <span>  Search card's title:</span>
                    <input id="search-box" type="text" class="form-control filter-margin" placeholder="card's title" />
                  </div>
                </div>
              </div>
            </div>
          </div>


          <div class="row ev-pd-top">
            <div class="col-md-12">
              <div class="row" id="card-deck">
              </div>
            </div>

          </div>

          <!--Modal new category-->
          <div class="modal fade" id="new-category-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">New category</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
                </div>
                <div class="modal-body">
                  <input type="text" class="form-control" id="new-category" placeholder="Category's name">
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                  <button type="button" onCLick="newCategory()" data-dismiss="modal" class="btn btn-primary">Add category</button>
                </div>
              </div>
            </div>
          </div>

    </div>
  </div>
  <%- include('tiles/footer'); %>
    <!-- end container-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>
    <script src="assets/js/general.js"></script>
    <script src="assets/js/formatDate.js"></script>
    <script src="assets/js/myCards.js"></script>
    <script src="assets/js/capabilities/myCardFilters.js"></script>
    <script src="assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="assets/js/getMyCards.js"></script>
    <script src="assets/js/lib/articulate.min.js"></script>
    <script src="assets/js/capabilities/updateCard.js"></script>
</body>

</html>