<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
  <meta name="description" content="">
  <meta name="author" content="">
  <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
  <link rel="icon" href="assets/img/favicon.ico">
  <title>FlashCardX</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ"
    crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" href="assets/css/component/general.css">
  <link rel="stylesheet" href="assets/css/page/homeNL.css">
  <link rel="stylesheet" href="assets/css/page/class.css">
  <link rel="stylesheet" href="assets/css/page/newClass.css">
</head>

<body>
  <nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse">
    <div class="container">
      <button class="navbar-toggler pull-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault"
        aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      <a class="navbar-brand" href="/">FlashCardX</a>
      <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="/discover">Discover</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/">My collection</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/create">Create card</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/practice">Practice</a>
          </li>
         <li class="nav-item active">
            <a class="nav-link" href="/class">Classes</a>
          </li>
        </ul>
         <%- include('tiles/sideOptions'); %>
         <script>
            var classname = '<%=classname%>';
          </script>

      </div>
    </div>
  </nav>
  <div class="main-content min-height">
    <div class="container">
     
        <h2> Add people to your new class</h2>
        <p>You need to enter the email of your classmates, they must have 
            an account on FlashCardX. If they Don't know wich email their account is linked to
            they can see it on the <a href="/settings">Settings page </a>.</br>If you don't have the emails right now don't worry
            you can add people later or tell them the class name so they can search it and join by themselves.
        </p>
        
        <div class="row ">
                <div class="form-horizontal center">
                  <div class="form-group" id="classname-group">
                    <div class="row">
                        <div class="col-md-8 col-xs-12">
                              <input required name="name" type="email" required="true" class="form-control" id="email" placeholder="Email">
                        </div>
                        <div class="col">
                              <button role="button" onClick="addPeople();" class="btn btn-danger class-btn">Add</button>        
                        </div>
                    </div>
                  </div>
                    <h4>People in the class:</h4>
                    <table class="table">
                            <tbody id="add-people">
                                <span id="nopeople">No people yet!</span> 
                                <!--
                                <tr>
                                    <th scope="row"> <img class='img-fluid my-thumbnail float-left letterpic' title='Mark s'src='/fdrfr' alt='Default image'> </th>
                                    <td>Mark</td>
                                    <td><button class="btn btn-warning class-btn">Remove</button></td>
                                </tr>
                                <tr>
                                <th scope="row"> <img class='img-fluid my-thumbnail float-left letterpic' title='Mark s'src='/fdrfr' alt='Default image'> </th>
                                    
                                <td>Jacob</td>
                                </tr>
                                <tr>
                                <th scope="row"> <img class='img-fluid my-thumbnail float-left letterpic' title='Mark s'src='/fdrfr' alt='Default image'> </th>
                                    
                                <td>Larry</td>
                                </tr>
                                -->
                            </tbody>
                        </table>
                  </br>
                  <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                      <a role="button" href="/finishNewClass" class="btn btn-default btn-success btn-gray class-btn">Finish!</a>
                    </div>
                  </div>
                </div>
        
        </div>
              <br/>
        <div class="stepwizard">
            <div class="stepwizard-row">
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">1</button>
                    <p>Create class</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-primary btn-circle">2</button>
                    <p>Add people</p>
                </div>
                <div class="stepwizard-step">
                    <button type="button" class="btn btn-default btn-circle">3</button>
                    <p>Learn foreign languages as never before</p>
                </div> 
            </div>
        </div>

       
       
        <%- include('tiles/modalActivity'); %>
    </div> <!-- end container-->
  </div><!--end container-->
  <%- include('tiles/footer'); %>
    



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
      crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn"
      crossorigin="anonymous"></script>
   <script src="assets/js/general.js"></script>
    <script src="assets/js/formatDate.js"></script>
    <script src="assets/js/lib/bootstrap-notify.min.js"></script>
    <script src="assets/js/capabilities/activity.js"></script>
    <script src="assets/js/lib/jquery.letterpic.min.js"></script>
    <script src="assets/js/newClass2.js"></script>
    
</body>

</html>