.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #4286f4;
  border-bottom: 14px solid #4286f4;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

#react{
  min-height: 450px;
}

.blue-btn{
  background: #4286f4;
    border-color: #4286f4;
}
.blue-btn:hover{
  background: #346bc3;
    border-color: #346bc3;
}

a{
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
@import url( 'https://fonts.googleapis.com/css?family=Work+Sans');

body {
  background: #efefef;
  opacity: .95;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.alert-deleted {
    position:fixed; 
    top: 20px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.alert-side {
 position:fixed; 
    top: 20px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

/* Footer */
#footer2 {
  padding: .5%;
  color: #ffffff;
  background-color: #191919;
  border-color: #080808;
  margin-top: 2% !important;
  font-size: 14px;
  box-sizing: initial;
}


.alignVMiddle {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.speaker:hover {
  cursor: pointer;
  color: #0080ff;
}

.btn {
  cursor: pointer;
}

.min-height {
  min-height: 650px;
}

.pull-left {
  float: left;
}

.black {
  color: black;
}

a:visited {
  text-decoration: none;
}

.slick .prev {
  display: inline;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}

.slick .next {
  display: inline;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

button:focus {outline:0;}

.round{
  width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 21px;
  line-height: 1;
  border-radius: 50%;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify{
   background:#d9534f;
   position:relative;
   top: -20px;
   left: -35px;
  }


  .background-blue{
    background: #f0ad4e;
    border-color: #f0ad4e;
  }



  .background-blue:hover{
    background: #c08a3e;
    border-color: #c08a3e;
  }


  .activity{
    border: 1px solid #d9534f;
    text-align: left;
}


#activity-content{
    height: 150px;
    max-width: auto;
    overflow: auto;
    text-align: left;
}




.activity-padding{
  padding-left:6px;
}

.seen{
    background-color: white;
}

.unseen{
    background-color:  #e0ebfd;
}

.top-buffer { margin-top:20px; }

.activity{
  padding: 0px;
}

.blue-hover:hover{
  background: #f0ad4e;
  border-color: #f0ad4e;
}

.my-thumbnail{
      display:inline-block;
      border: 1px solid #ddd; /* Gray border */
      border-radius: 5px;  /* Rounded border */
      padding: 5px; /* Some padding */
      width: 110px; /* Set a small width */
      height: auto;
}
.my-thumbnail-2{
      display:inline-block;
      border: 1px solid #ddd; /* Gray border */
      border-radius: 5px;  /* Rounded border */
      padding: 2px; /* Some padding */
      width: 90px; /* Set a small width */
      height: auto;
}

.my-thumbnail-3{
      display:inline-block;
      border: 1px solid #ddd; /* Gray border */
      border-radius: 5px;  /* Rounded border */
      padding: 2px; /* Some padding */
      width: 57px; /* Set a small width */
      height: auto;
}
  
.my-thumbnail-4{
      display:inline-block;
      border: 1px solid #ddd; /* Gray border */
      border-radius: 3px;  /* Rounded border */
      padding: 2px; /* Some padding */
      width: 35px; /* Set a small width */
      height: auto;
}
  

  .activity-body{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  hr{
    border: 2px solid #4286f4;
  }


  .navbar-header{
    background-color: #85DCB0;
  }

  .bg-inverse{
    background-color: #4286f4 !important;
  }

  .nav-item{
       color:white !important;
  }

   .nav-item:hover {
     font-weight: bold;
  }


  .nav-item.active {
     font-weight: bold;
  }

  .nav-link{
    color:white !important;
  }

  .margin5{
    margin:5px;
  }
/* Move down content because we have a fixed navbar that is 50px tall */
.fixed-top {
  position: relative;
}

  .main-content {
  margin: 10px;
  text-align: center;
}
.btn-space-left {
  margin-left: 10px;
}


#activity-modal-dialog{
  max-width: 460px;
}

.activity-feed {
    padding: 15px;
    overflow: auto;
    max-height: 320px;
}
.activity-feed .feed-item {
  position: relative;
  padding-bottom: 10px;
  padding-left: 20px;
  border-left: 2px solid #e4e8eb;
}
.activity-feed .feed-item:last-child {
  border-color: transparent;
}
.activity-feed .feed-item:after {
  content: "";
  display: block;
  position: absolute;
  top: 22px;
  left: -6px;
  width: 10px;
  height: 10px;
  border-radius: 6px;
  background: #fff;
  border: 1px solid #f37167;
}
.activity-feed .feed-item .date {
  position: relative;
  top: -5px;
  color: #8c96a3;
  text-transform: uppercase;
  font-size: 13px;
}
.activity-feed .feed-item .text {
  position: relative;
  top: -3px;
}

.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  

.social-icons .fa-instagram{background-color: #c32aa3;}

.hide{
  display: none;
}