body{
	font-family: 'Roboto', sans-serif;
}

.min-height {
  min-height: 650px;
}

/* Botones */
.btn-outline-success{
    color: #5cb85c;
    background-image: none;
    background-color: transparent;
    border-color: #5cb85c;
}

.btn-outline-success:hover{
    color: #ffffff;
}

/* Jumbotron */
.jumbotron{
	padding-bottom: 0 !important;
}

#fondoJumbo{
	background-color: #4286f4;
	color: #ffffff;
}

/* Carousel */ 
@media (min-width: 140px) and (max-width: 480px){
	.carousel-indicators {
	bottom: -5px;
	}
}

@media (min-width: 481px) and (max-width: 767px){
	.carousel-indicators {
	bottom: 5px;
    }
    
}

/* Seccion con info en index */
#infoPrincipal h2{
	color: #4286f4;
}

.icons{
	padding-top: 10% !important;
	padding-bottom: 10% !important;
}

/* Class Indicators */
.pos-top {
  position: absolute;
  top:50%;
  margin-top:-14px;
}


.alignVMiddle{
    float: none;
    display: inline-block;
    vertical-align: middle;
}

.navbar-brand{
    font-size: 26px;
}

.margin-left{
    margin-left: 10px;
}
.form-horizontal{
border-style: solid;
border-width: 1px;
border-radius: 10px;
border-color: #333;
margin: 10px;
padding: 10px;
}

.btn-gray{
    background-color: #292b2c!important;
}

.orange {
  color: #e54e2f;
}

.green{
  color:  #1d9d74;
}

.red{
    color: #c73232;
}

.blue{
    color:#326283;
}

.alert{
    margin-top: 10px;
}

.black{
    color: #333;
}

.green{
    color: #259b44;
}

.margin-5{
    margin: 15px;
}

/* Footer */
#footer2 {
  padding: .5%;
  color: #ffffff;
  background-color: #222222;
  border-color: #080808;
  margin-top: 2% !important;
  font-size: 14px;
}

#form-signup{
    padding-left:40px;
    padding-right:40px;
}



.list-unstyled {
	padding-left: 0;
	list-style: none;
}
.list-inline li {
	display: inline-block;
	padding-right: 5px;
	padding-left: 5px;
	margin-bottom: 10px;
}
/*---- Genral classes end -------*/

/*Change icons size here*/
.social-icons .fa {
	font-size: 1.8em;
}
/*Change icons circle size and color here*/
.social-icons .fa {
	width: 50px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	color: #FFF;
	color: rgba(255, 255, 255, 0.8);
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.social-icons.icon-circle .fa{ 
	border-radius: 50%;
}
.social-icons.icon-rounded .fa{
	border-radius:5px;
}
.social-icons.icon-flat .fa{
	border-radius: 0;
}

.social-icons .fa:hover, .social-icons .fa:active {
	color: #FFF;
	-webkit-box-shadow: 1px 1px 3px #333;
	-moz-box-shadow: 1px 1px 3px #333;
	box-shadow: 1px 1px 3px #333; 
}
.social-icons.icon-zoom .fa:hover, .social-icons.icon-zoom .fa:active { 
 	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	-o-transform: scale(1.1);
	transform: scale(1.1); 
}
.social-icons.icon-rotate .fa:hover, .social-icons.icon-rotate .fa:active { 
	-webkit-transform: scale(1.1) rotate(360deg);
	-moz-transform: scale(1.1) rotate(360deg);
	-ms-transform: scale(1.1) rotate(360deg);
	-o-transform: scale(1.1) rotate(360deg);
	transform: scale(1.1) rotate(360deg);
}

.social-icons .fa-facebook,.social-icons .fa-facebook-square{background-color:#3C599F;}  

.social-icons .fa-instagram{background-color: #c32aa3;}

