   <footer class="footer" id="footer2">
        <div class="container">
            <div class="row">
                    <div class="col-8 col-sm-8 col-lg-8">
                        <div class="row">
                            <div class="col-5 ">
                                <span class="">© 2017 FlashcardX. All rights reserved.</span>
                            </div>
                            <div class="col-7 ">
                                <span class="">We would love your feedback: contact@flashcardx.co</span>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 pull-left">
                                <span class="">Powered by:
                                    <a href="https://wordnik.com" target="_blank">wordnik.com</a>
                                </span>
                            </div>
                      </div>
                  </div>
                  <div class="col-2 col-sm-2">  
                      <ul class="social-icons icon-circle icon-rotate list-unstyled list-inline"> 
                        <li><a data-toggle='tooltip' data-placement='right' title='Follow us on Instagram!' alt="Social Network" target="_blank" href="https://www.instagram.com/flashcardx"><i class="fa fa-instagram"></i></a> </li> 
                        <li> <a data-toggle='tooltip' data-placement='right' title='Like us on Facebook!' alt="Social Network" target="_blank" href="https://www.facebook.com/CardsFlashx"><i class="fa fa-facebook"></i></a></li> 
                      </ul>
                  </div>
            </div>
              
        </div>
    </footer>