   <footer class="footer" id="footer2">
        <div class="container">
          <div class="row">
            <div class="col-md-5 alignVMiddle">
              <span class="text-muted">© 2017 FlashCardX, Inc.</span>
            </div>
            <div class="col-md-5 alignVMiddle">
              <span class="text-muted">Tell us what you love about us: contact@flashcard-x.com</span>
            </div>
        </div>
        <div class="row">
        </div>
            <div class="col-md-2 alignVMiddle pull-left">
              <span class="text-muted">Powered by: </span>
            </div>
              <ul>
                <il>
                  <a href="https://pixabay.com" target="_blank">pixabay.com</a>
                </il>
                <il>
                  <a href="https://shutterstock.com" target="_blank">shutterstock.com</a>
                </il>
                <il>
                  <a href="https://wordnik.com" target="_blank">wordnik.com</a>
                </il>
              </ul>
    </footer>