<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="description" content="Learn anything with beautiful images - Create flashcards and share them with classmates">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="icon" href="/assets/img/favicon.ico">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
        <link rel="stylesheet" href="/assets/css/general.css">
        <script src="https://use.fontawesome.com/6cbcc3e9b8.js"></script>
        <!--react material-ui theme: -->
        <link rel="stylesheet" href="https://unpkg.com/react-md@1.1.0/dist/react-md.deep_purple-pink.min.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons|Roboto:400,500,700">
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.min.css" />
        <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick-theme.min.css" />
        <title>FlashCardX</title>
    </head>
    <body>
        <div id="react"></div>
         <%- include('../../views/tiles/footer'); %>
        <script src="/assets/js/app.js"></script>
    </body>
</html>