
.card-deck{
  display: block;
  width: 100%;
  display: center;
  text-align: center;
  padding-left: 100px;
  padding-right: 100px;
}

.card{
  padding-top:5px;
  margin: 10px;
  max-width: 641px;
  background-color: #C7C7C8;
  border-style: solid;
  border-width: 1px;
  border-radius: 10px;
  border-color: #333;
  margin: 10px auto;
}



.card-deck .card:not(:last-child) {
    margin-right: auto;
}

.card-deck .card:not(:first-child) {
    margin-left: auto;
}