.card-deck {
  display: block;
  width: 100%;
  display: center;
 
  padding-left: 80px;
  padding-right: 100px;
}

.card {
  text-align: left;
  margin: 10px;
  max-width: 641px;
  background-color: #FFF;
  border-radius: 3px;
  margin: 10px auto;
  border-width: 0;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  padding-top: 0;
}

.card-deck .card:not(:last-child) {
  margin-right: auto;
}

.card-deck .card:not(:first-child) {
  margin-left: auto;
}



.card-buttons{
    height:35px;
}
.card-title{
  overflow: hidden;
}


.mycard-footer{
    bottom: 7px;
    border:none;
    text-align: center;
    box-sizing: border-box;
}