.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  border-bottom: 14px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

a{
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
@import url( 'https://fonts.googleapis.com/css?family=Work+Sans');

body {
  background: #efefef;
  opacity: .95;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.alert-deleted {
    position:fixed; 
    top: 20px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.alert-side {
 position:fixed; 
    top: 20px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

/* Footer */
#footer2 {
  padding: .5%;
  color: #ffffff;
  background-color: #222222;
  border-color: #080808;
  margin-top: 2% !important;
  font-size: 14px;
}

.alignVMiddle {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.speaker:hover {
  cursor: pointer;
  color: #0080ff;
}

.btn {
  cursor: pointer;
}

.min-height {
  min-height: 650px;
}

.pull-left {
  float: left;
}

.black {
  color: black;
}

a:visited {
  text-decoration: none;
}

.slick .prev {
  display: inline;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}

.slick .next {
  display: inline;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

button:focus {outline:0;}

.round{
width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 21px;
  line-height: 1;
  border-radius: 50%;
}