.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #4286f4;
  border-bottom: 14px solid #4286f4;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

.blue-btn{
  background: #4286f4;
    border-color: #4286f4;
}
.blue-btn:hover{
  background: #346bc3;
    border-color: #346bc3;
}

a{
  outline: none;
}

body {
  font-family: 'Roboto', sans-serif;
}
@import url( 'https://fonts.googleapis.com/css?family=Work+Sans');

body {
  background: #efefef;
  opacity: .95;
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.alert-deleted {
    position:fixed; 
    top: 20px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

.alert-side {
 position:fixed; 
    top: 20px; 
    left: 0px; 
    width: 100%;
    z-index:9999; 
    border-radius:0px
}

/* Footer */
#footer2 {
  padding: .5%;
  color: #ffffff;
  background-color: #191919;
  border-color: #080808;
  margin-top: 2% !important;
  font-size: 14px;
  box-sizing: initial;
}

.alignVMiddle {
  float: none;
  display: inline-block;
  vertical-align: middle;
}

.speaker:hover {
  cursor: pointer;
  color: #0080ff;
}

.btn {
  cursor: pointer;
}

.min-height {
  min-height: 650px;
}

.pull-left {
  float: left;
}

.black {
  color: black;
}

a:visited {
  text-decoration: none;
}

.slick .prev {
  display: inline;
  position: absolute;
  top: 50%;
  left: 10px;
  z-index: 1;
  cursor: pointer;
}

.slick .next {
  display: inline;
  position: absolute;
  top: 50%;
  right: 10px;
  z-index: 1;
  cursor: pointer;
}

button:focus {outline:0;}

.round{
width: 40px;
  height: 40px;
  text-align: center;
  padding: 10px 0;
  font-size: 21px;
  line-height: 1;
  border-radius: 50%;
}

/* CSS used here will be applied after bootstrap.css */
.badge-notify{
   background:#d9534f;
   position:relative;
   top: -20px;
   left: -35px;
  }


  .background-blue{
    background: #f0ad4e;
    border-color: #f0ad4e;
  }



  .background-blue:hover{
    background: #c08a3e;
    border-color: #c08a3e;
  }


  .activity{
    border: 1px solid #d9534f;
    
}


#activity-content{
    height: 150px;
    width: 100%;
    overflow: auto;
    text-align: left;
}

.activity-padding{
  padding-left:6px;
}

.seen{
    background-color: white;
}

.unseen{
    background-color:  #e0ebfd;
}

.top-buffer { margin-top:20px; }

.activity{
  padding: 0px;
}

.blue-hover:hover{
  background: #f0ad4e;
  border-color: #f0ad4e;
}

.my-thumbnail{
      display:inline-block;
      border: 1px solid #ddd; /* Gray border */
      border-radius: 5px;  /* Rounded border */
      padding: 5px; /* Some padding */
      width: 110px; /* Set a small width */
      height: auto;
}
  

  .activity-body{
    padding-top: 0px;
    padding-bottom: 0px;
  }

  hr{
    border: 2px solid #4286f4;
  }


  .navbar-header{
    background-color: #85DCB0;
  }

  .bg-inverse{
    background-color: #4286f4 !important;
  }

  .nav-item{
       color:white !important;
  }

   .nav-item:hover {
     font-weight: bold;
  }


  .nav-item.active {
     font-weight: bold;
  }

  .nav-link{
    color:white !important;
  }

  .margin5{
    margin:5px;
  }