.loader {
  border: 14px solid #f3f3f3;
  border-radius: 50%;
  border-top: 14px solid #3498db;
  border-bottom: 14px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

body{
	font-family: 'Oswald', sans-serif;
}


@import url('https://fonts.googleapis.com/css?family=Work+Sans');
body{
    background: linear-gradient(141deg, #E44424 0%, #e65639 51%, #eb7860 75%);
    color: white;
    opacity: 0.95;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.alert-deleted{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 5000;
}


.alert-side{
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 5000;
}


/* Footer */
#footer2{
    padding: 0.5%;
    color: #ffffff;
   	background-color: #222222;
    border-color: #080808;
    margin-top: 2% !important;         
}

.alignVMiddle{
    float: none;
    display: inline-block;
    vertical-align: middle;
}


.speaker:hover {
    cursor:pointer;
    color: #0080ff;
}

.btn{
  cursor:pointer;
}

.main-content{
  min-height: 500px;
}