.slide-size{
    max-height: 100%;
    max-width: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border-radius: 5px;
    overflow:auto;
}

.slide-fixed-size{
   max-height:270px;
   width: auto;
   overflow:hidden;
}
.responsive {
    width: 100%;
    height: auto;
}
.carousel-inner {
    text-align: center;
}

.carousel-item{
  text-align: center;
}

.card-img-top{
  max-width:100%;
  max-height:100%;
  object-fit: contain;
}